@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* General styling and Screen 1 */
* {
  box-sizing: border-box;
}

body {
  background-color: #4b0082;
  color: #eee;
  font-family: 'Press Start 2P', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

a {
  color: #eee;
}

h1 {
  line-height: 1.4;
}

.btn {
  border: 0;
  background-color: #eee;
  color: #4b0082;
  padding: 15px 20px;
  font-family: inherit;
  cursor: pointer;
}

.btn:focus {
  outline: 0;
}

.btn:hover {
  opacity: 0.6;
  color: #eee;
  background-color: red;
}

/* Each screen is going to take up whole viewport */
.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

/* Change the screen */
.screen.up {
  margin-top: -200vh;
}

/* Screen 2 */
.insects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.insects-list li {
  margin: 10px;
}

.choose-insect-btn {
  background-color: white;
  border: 5px solid #eee;
  cursor: pointer;
  font-family: inherit;
  width: 150px;
  height: 150px;
  user-select: none;
}

.choose-insect-btn:hover {
  background-color: #4b0082;
  color: #eee;
}

.choose-insect-btn:active {
  background-color: rgba(255, 255, 255, 0.7);
  color: #000;
}

/* Images have equal sizes to each other */
.choose-insect-btn img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

/* Screen 3 */
